<!DOCTYPE html>
    <html>

    <head>
        <title>Add Cultivo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </head>

    <body class="container">
        <h1 class="form-group text-center">cultivo</h1>
        <form action="/addCultivo" method="POST" data-toggle="validator" class="jumbotron container" style="width: 60%;">
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>codigo</label>
                    <input type="text" name="codigo" class="form-control" required>
                </div>
                <div class="col-sm-6">
                    <label>latitud</label>
                    <input type="number" step="any" name="latitud" class="form-control" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>producto</label>
                    <select name="producto" class="form-control" required>
                        {% for item in productos %}
                            <option value="{{item}}"> {{ item }} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>longitud</label>
                    <input type="number" step="any" name="longitud" class="form-control" required>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>area</label>
                    <input type="number" step="any" name="area" class="form-control" required>
                </div>
                <div class="col-sm-4">
                    <label>imagen</label>
                    <input type="text" step="any" name="imagen" class="form-control" required>
                </div>
            </div>
            <!--Boton para validar campos-->
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
            </div>
        </form>
    </body>

    </html>